<div id="<%= dom_id recipe %>">
  <div class="card">
    <div class"card-body">
      <h5 class="card-title">
        <p><%= recipe.name %></p>
      </h5>
      <p>
        Cuisine:
        <%= recipe.cuisine %>
      </p>
      <p>
        <%= link_to "See more", recipe %>
    </div>
  </div>
</div>
