<p style="color: green"><%= notice %></p>

<%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>

<form action="/recipes"> 
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Search.." name="query">
    <input class="form-control" type="text" placeholder="Ingredients.." name="ingred">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
  

<h2 class="card-title d-flex justify-content-between">
  <span>Recipes</span>
  <%= link_to "New recipe", new_recipe_path, class: "btn btn-primary" %>
</h2>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>


    