<p style="color: green"><%= notice %></p>
<div>
  <form action="/recipes">
      <input type="text" placeholder="Search.." name="query">
      <input type="text" placeholder="Ingredients..   " name="ingred">
      <button type="submit">Search</button>
  </form>
</div>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
